<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HyperCar</title>
</head>
<body>
    <div>
        <h2>Welcome to the Hypercar Service!</h2>
        <p>Select an option from the menu:</p>
    </div>
    <br>
    <div id="links">
        <a target="_blank" href="/get_ticket/change_oil">Change Oil</a>
        <a target="_blank" href="/get_ticket/inflate_tires">Inflate Tires</a>
        <a target="_blank" href="/get_ticket/diagnostic">Diagnostic</a>
    </div>
</body>
</html>